fn Composant2(arg1, arg2, arg3) {
    let params1 = 0;
    let params2 = 3;
    let x = 1;
    let val1 = params1;
    let val2 = params1 + params2;
    val1 = 1;
    for i in 1..25 {
        print(i);
    }
    loop {
        val1 = val1 + 1;
        special_print(val1);
        break;
    }
    return <% template %> 
        wowowoo 
        <% if x + 3 == 4 %>
            wowaoao
        <% else %>
            qklqlqlqlql
        </% endif %>

        <% loop %>
            mljmioihiuhih
            
            <% if x + 3 == 4 %>
                <% break %>
            <% endif %>
        <% endloop %>

    <% endtemplate %>;
}
