use tests/composant2;

fn special_print(wow) {
    print("special print:");
    print(wow);
    print("EOF special print\n");
}

fn main(argc, argv) {
    let params1 = 0;
    let params2 = 3;
    let val1 = params1;
    let val2 = params1 + params2;
    let x = 1;
    let arg1 = "Premier argument";
    let arg2 = "Deuxième argument";
    let arg3 = "Troisième argument";
    val1 = 1;
    for i in 1..25 {
        print(i);
    }
    loop {
        val1 = val1 + 1;
        special_print(val1);
        break;
    }
    return <% template %> 
        wowowoo 
        <% if x + 3 == 4 %>
            wowaoao
        <% else %>
            qklqlqlqlql
        </% endif %>

        <% loop %>
            mljmioihiuhih
            
            <% break %>
        <% endloop %>

        <% use Composant2(arg1, arg2, arg3) %>

    <% endtemplate %>;
}
